@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
@import "./vars.scss";

@font-face {
    font-family: $rufo;
    src: url("./files/RFRufo-Light.woff");
    font-weight: 300;
}

@font-face {
    font-family: $rufo;
    src: url("./files/RFRufo-Regular.woff");
    font-weight: 400;
}

@font-face {
    font-family: $rufo;
    src: url("./files/RFRufo-Bold.woff");
    font-weight: 700;
}