@import "./../../styles/index.scss";

%item {
    border: none;
    outline: none;
    display: inline-block;
    background: transparent;
}
%fg{
    display: flex;
    column-gap: 20px;
}

.Nav {
    background: $black-2;

    &igation {
        &__row {
            display: flex;
            justify-content: space-between;

            .logo {
                width: 72px;
                display: inline-block;
            }
        }

        &__left,
        &__right,
        &__link-wrapper {
            display: flex;
            align-items: center;
            column-gap: 11px;
        }

        &__right {
            column-gap: 71px;
        }

        &__link {
            font-family: $rufo;
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 22px;
            color: #FFFFFF;
            text-decoration: none;

            &-wrapper {
                column-gap: 2px !important;
                cursor: pointer;
            }
        }

        &__social {
            display: flex;
            column-gap: 25px;
        }

        &__lang {
            @extend %fg;

            &-item {

                @extend %item;
                font-family: $rufo;
                font-style: normal;
                font-weight: 400;
                font-size: 24px;
                line-height: 29px;
                text-transform: uppercase;
                color: #FFFFFF;


            }
        }

        &__option {
            @extend %fg;
            &-item {
                @extend %item;
            }

        }
    }
}