.subtitle {
    font-size: 48px;
    line-height: 48px;
    color: #02E602;
    position: absolute;
    bottom: 13px;
    left: 6px;
    transform: translateY(-50%);
}

.section-titles{
    position: relative;
}