:root{
  --base: 'RF Rufo', sans-serif;
  --base-weight: 400;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
}

body {
  font-family: var(--base);
  font-weight: var(--base-weight);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
